<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

  Roles<br/>
  <% Role.all.each_with_index do |r, i| %>
    <%= check_box_tag "role[role_ids][]", r.id.to_s %><%= r.name %> <br/>
  <% end %>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
